openapi: 3.2.0
info:
  title: Modulr Restricted API
  description: Modulr API
  license:
    name: © Modulr Finance
    url: https://www.modulrfinance.com
  version: '1.0'
servers:
- url: https://api-sandbox.modulrfinance.com/api-sandbox-token
security:
- modulo_security: []
tags:
- name: Restricted
  description: Restricted access API calls
paths:
  /cards/{cardId}/unsuspend:
    post:
      tags:
      - Restricted
      summary: '[Restricted] Unsuspend a card'
      description: 'Restores a previously suspended card to the status it was in prior to being suspended as applied by the issuer or program manager.

        Use of this endpoint is `Restricted`, depending on access being granted through contractual setup with Modulr.'
      operationId: unsuspendCard
      parameters:
      - name: cardId
        in: path
        description: The ID of the card which should no longer be suspended
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: Card unsuspended successfully
        '400':
          description: Invalid request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/card.MessageResponse'
      security:
      - HMAC: []
      - TOKEN: []
  /cards/{cardId}/suspend:
    post:
      tags:
      - Restricted
      summary: '[Restricted] Suspend an existing card'
      description: 'Suspends a card to temporarily prevent any new authorisations as applied by the issuer or the program manager (i.e. not cardholder elective). This means that all new authorisations will be immediately declined. Outstanding authorisations are unaffected and settlement, chargebacks, refunds, etc will continue to function as normal.

        Use of this endpoint is `Restricted`, depending on access being granted through contractual setup with Modulr.'
      operationId: suspendCard
      parameters:
      - name: cardId
        in: path
        description: The ID of the card which should be suspended
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: Card suspended successfully
        '400':
          description: Invalid request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/card.MessageResponse'
      security:
      - HMAC: []
      - TOKEN: []
  /authorisations/{authId}/expire:
    post:
      tags:
      - Restricted
      summary: '[Restricted] Expire an existing authorisation'
      description: '[Restricted] Expire an existing authorisation. Note: CREDIT_AUTH and CREDIT_AUTH_REV activities cannot be expired via this endpoint.'
      operationId: expireAuthorisation
      parameters:
      - name: authId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: Authorisation expired successfully
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/card.MessageResponse'
        '404':
          description: Authorisation not found
      security:
      - HMAC: []
      - TOKEN: []
components:
  schemas:
    card.MessageResponse:
      type: object
      properties:
        field:
          type: string
        code:
          type: string
          enum:
          - GENERAL
          - BUSINESSRULE
          - MFASTATUS
          - MFAERROR
          - MFATIMEOUT
          - MFADEVICEMM
          - MFAMESSAGEINVALID
          - NOTFOUND
          - DUPLICATE
          - INVALID
          - CONNECTION
          - RETRY
          - RATELIMIT
          - PERMISSION
          - NOTACCEPTABLE
          - MFAVERIFICATION
          - TOKENEXPIRED
        errorCode:
          type: string
        message:
          type: string
        sourceService:
          type: string
  securitySchemes:
    modulo_security:
      type: apiKey
      name: Authorization
      in: header
    TOKEN:
      type: apiKey
      name: Authorization
      in: header
x-readme:
  proxy-enabled: false
