{"openapi":"3.1.0","info":{"title":"Modulr API","description":"Modulr API","license":{"name":"© Modulr Finance","url":"https://www.modulrfinance.com"},"version":"1.0"},"servers":[{"url":"https://api-sandbox.modulrfinance.com/api-sandbox-token"}],"security":[{"modulo_security":[]}],"tags":[{"name":"Accounts","description":"Operations on Accounts"},{"name":"Async","description":"Asynchronous card task operations"},{"name":"Beneficiaries","description":"Operations on Beneficiaries"},{"name":"Cards","description":"Cards API"},{"name":"Confirmation of Payee","description":"Account Name Checks"},{"name":"Customers","description":"Operations on Customers"},{"name":"Direct Debits","description":"Direct Debit operations"},{"name":"Direct Debit Outbound","description":"Direct Debit Outbound operations"},{"name":"Inbound Payments","description":"Inbound payments"},{"name":"Payments","description":"Operations on Payments"},{"name":"Rules","description":"Rules"},{"name":"Transactions","description":"Operations on Transactions"},{"name":"Document","description":"Operations on Documents"},{"name":"Access Group","description":"Operations on Access Group"},{"name":"Card Simulator","description":"Cards Simulator API"},{"name":"Channel Manager","description":"Channel Manager Operations"},{"name":"File Upload","description":"Upload payment files"},{"name":"IntegrationNotification","description":"Operations on Webhook Notifications"},{"name":"Notification","description":"Operations on Notifications"},{"name":"Restricted","description":"Restricted access API calls"},{"name":"Share secure card details","description":"Share secure card details operations"}],"paths":{"/credit-authorisations/{creditAuthId}/reverse":{"post":{"tags":["Card Simulator"],"summary":"Reverse a credit authorisation","description":"Reverse a pending credit authorisation, producing a CREDIT_AUTH_REV activity","operationId":"reverseCreditAuthorisation","parameters":[{"name":"creditAuthId","in":"path","description":"ID of the CREDIT_AUTH activity to reverse","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"X000000001"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Activity is not a CREDIT_AUTH or in PENDING status","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Activity not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/settlements":{"post":{"tags":["Card Simulator"],"summary":"Create a settlement without prior authorisation","description":"Submit a settlement directly to the reconciliation pipeline without a prior authorisation","operationId":"createSettlement","parameters":[{"name":"cardId","in":"path","description":"Card ID to settle against","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardSettlementRequest"}}},"required":true},"responses":{"201":{"description":"Created"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Card not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/refunds":{"post":{"tags":["Card Simulator"],"summary":"Create a card refund","description":"Simulate a standalone refund (credit) for a card, producing a REFUND activity","operationId":"refund","parameters":[{"name":"cardId","in":"path","description":"Card id to be refund","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardAuthorisationRequest"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Not Found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/original-credits":{"post":{"tags":["Card Simulator"],"summary":"Simulate an original credit","description":"Submit card activity of type original credit","operationId":"createOriginalCredit","parameters":[{"name":"cardId","in":"path","description":"Card ID to credit","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CreateOriginalCreditRequest"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Card not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/original-credits/{originalCreditActivityId}/reverse":{"post":{"tags":["Card Simulator"],"summary":"Reverse an original credit","description":"Reverse a previously applied original credit, producing an ORIGINAL_CREDIT_REVERSAL activity","operationId":"reverseOriginalCredit","parameters":[{"name":"cardId","in":"path","description":"Card ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"},{"name":"originalCreditActivityId","in":"path","description":"ID of the ORIGINAL_CREDIT activity to reverse","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"X000000001"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Activity is not an ORIGINAL_CREDIT in APPLIED status","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Activity not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/offline-transactions":{"post":{"tags":["Card Simulator"],"summary":"Create an offline transaction","description":"Simulate an offline transaction for a card","operationId":"createOfflineTransaction","parameters":[{"name":"cardId","in":"path","description":"Card ID to create an offline transaction for","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardSettlementRequest"}}},"required":true},"responses":{"201":{"description":"Created"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Card not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/expire":{"post":{"tags":["Card Simulator"],"summary":"Simulate a card expiry","description":"Simulate the GPS CARD_EXPIRY message, transitioning the card status to EXPIRED in card-service","operationId":"expireCard","parameters":[{"name":"cardId","in":"path","description":"Card ID to expire","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Card is already expired","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Card not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/credit-authorisations":{"post":{"tags":["Card Simulator"],"summary":"Simulate a credit authorisation","description":"Submit card activity of type credit authorisation","operationId":"createCreditAuthorisation","parameters":[{"name":"cardId","in":"path","description":"Card ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CreateCreditAuthorisationRequest"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Card not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/chargebacks":{"post":{"tags":["Card Simulator"],"summary":"Create a standalone chargeback","description":"Simulate a standalone chargeback for a card.","operationId":"createChargeback","parameters":[{"name":"cardId","in":"path","description":"Card id to chargeback","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardActivityRequest"}}},"required":true},"responses":{"204":{"description":"Chargeback processed"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Not Found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/authorisations":{"post":{"tags":["Card Simulator"],"summary":"Create a card authorisation","description":"Create an authorisation for a card","operationId":"createAuthorisation","parameters":[{"name":"cardId","in":"path","description":"Card ID to create an authorisation for this card","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardAuthorisationRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardAuthorisationResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/activities/{settlementActivityId}/chargebacks":{"post":{"tags":["Card Simulator"],"summary":"Chargeback an existing settlement","description":"Simulate a chargeback of an existing settlement activity.","operationId":"createChargebackForSettlement","parameters":[{"name":"cardId","in":"path","description":"Card id","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"},{"name":"settlementActivityId","in":"path","description":"Settlement activity BID to chargeback","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"X000000001"}],"responses":{"204":{"description":"Chargeback processed"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"The settlement activity was not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/cards/{cardId}/account-status-inquiry":{"post":{"tags":["Card Simulator"],"summary":"Perform an account status inquiry","description":"Check whether a card is eligible for transactions without reserving funds","operationId":"performAccountStatusInquiry","parameters":[{"name":"cardId","in":"path","description":"Card ID to perform the account status inquiry against","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"V000000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardAccountStatusInquiryRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardAccountStatusInquiryResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Card not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardAccountStatusInquiryResponse"}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/card-tokens/{tokenId}/devices/{deviceId}/unbind":{"post":{"tags":["Card Simulator"],"summary":"Unbind a device from a card token","description":"Simulate the removal of a device binding from a card token, marking the device as DELETED within the token record in card-service","operationId":"unbindDevice","parameters":[{"name":"tokenId","in":"path","description":"Card token ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"T110000001"},{"name":"deviceId","in":"path","description":"Device ID to unbind","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"D110000001"},{"name":"cardId","in":"query","description":"Card ID that owns the token","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"V110000001"}],"responses":{"204":{"description":"Device unbound successfully"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Token or device not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/authorisations/{authId}/settle":{"post":{"tags":["Card Simulator"],"summary":"Settle the full or partial card authorisation","description":"Settle the full card authorisation or supply an optional settlementAmount for partial settlement.","operationId":"settleAuthorisation","parameters":[{"name":"authId","in":"path","description":"Card authorisation id","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"A00000000X"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.CardSettlementRequest"}}}},"responses":{"204":{"description":"Settlement processed"},"400":{"description":"Validation errors or settlement amount exceeds authorised amount","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/authorisations/{authId}/reverse":{"post":{"tags":["Card Simulator"],"summary":"Reverse the card authorisation","description":"Simulate a reversal of an authorization for a card","operationId":"reverseAuthorisation","parameters":[{"name":"authId","in":"path","description":"Card authorisation id to be reversed","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"A00000000X"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cardsimulator.ReverseAuthorizationRequest"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/activities/{chargebackActivityId}/resettlement":{"post":{"tags":["Card Simulator"],"summary":"Resettlement of a chargeback","description":"Simulate a resettlement (second presentment) for an existing CHARGEBACK activity, producing a RESETTLEMENT activity.","operationId":"createResettlement","parameters":[{"name":"chargebackActivityId","in":"path","description":"ID of the CHARGEBACK activity to resettle","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"X000000001"}],"responses":{"204":{"description":"Resettlement processed"},"400":{"description":"Activity is not a CHARGEBACK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Chargeback activity not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/activities/{chargebackActivityId}/chargeback-reversal":{"post":{"tags":["Card Simulator"],"summary":"Reverse a chargeback","description":"Simulate a chargeback reversal for an existing CHARGEBACK activity, producing a CHARGEBACK_REVERSAL activity.","operationId":"createChargebackReversal","parameters":[{"name":"chargebackActivityId","in":"path","description":"ID of the CHARGEBACK activity to reverse","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"X000000001"}],"responses":{"204":{"description":"Chargeback reversal processed"},"400":{"description":"Activity is not a CHARGEBACK in APPLIED status","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cardsimulator.MessageResponse"}}}}},"404":{"description":"Chargeback activity not found"}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/customers/{customerId}":{"get":{"tags":["Customers"],"summary":"Retrieve a specific customer using a unique customer reference","description":"Retrieve a specific customer using a unique customer reference. This identifier can be found in the response obtained after creating a new customer, it starts by C, e.g: C0000000","operationId":"getCustomer","parameters":[{"name":"customerId","in":"path","description":"ID of customer to fetch","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"statuses","in":"query","description":"Customer statuses allowed when fetching the customer","required":false,"style":"form","explode":true,"schema":{"type":"array","default":["ACTIVE"],"items":{"type":"string","enum":["ACTIVE","CLOSED","BLOCKED"]}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.Customer"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"put":{"tags":["Customers"],"summary":"Edit a specific customer using a unique customer reference","description":"  Currently editable fields:\n  <ol>\n    <li>For all customer types: <b>externalReference</b> can be edited</li>\n    <li>For all customers not requiring manual or in-house KYC verification: <b>industryCode</b>, <b>registeredAddress</b>, <b>tcsVersions</b> and <b>regNumber</b> can additionally be edited. Of those:\n      <ul>\n        <li>For all other customer types: <b>name</b> and <b>tradingAddress</b> can additionally be edited</li>\n        <li>For all types other than PCM_BUSINESS: the <b>associate</b> can additionally be edited</li>\n      </ul>\n    </li>\n    <li> For <b>vulnerabilityReason</b> you must supply a list and to delete a list you must supply an empty list in request, not supplying a list will result in no change</li>\n  </ol>\n","operationId":"editCustomer","parameters":[{"name":"customerId","in":"path","description":"ID of customer to be edited","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"C0000000"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.UpdateCustomerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.Customer"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"patch":{"tags":["Customers"],"summary":"Edit a customer","description":"Edit details of a particular customer using its ID as a reference. Current editable fields: complianceData","operationId":"patchCustomer","parameters":[{"name":"customerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/account.Add"},{"$ref":"#/components/schemas/account.Copy"},{"$ref":"#/components/schemas/account.Move"},{"$ref":"#/components/schemas/account.Remove"},{"$ref":"#/components/schemas/account.Replace"},{"$ref":"#/components/schemas/account.Test"}]}}}},"required":true},"responses":{"200":{"description":"Successfully updated the existing customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.Customer"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{accountId}":{"get":{"tags":["Accounts"],"summary":"Get an account","description":"Retrieve details of a particular account using its ID as a reference","operationId":"getAccount","parameters":[{"name":"accountId","in":"path","description":"ID of account to fetch","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"statuses","in":"query","description":"Account statuses allowed when fetching the account","required":false,"style":"form","explode":true,"schema":{"type":"array","default":["ACTIVE"],"items":{"type":"string","enum":["ACTIVE","BLOCKED","CLOSED","CLIENT_BLOCKED"]}}},{"name":"includePendingTransactions","in":"query","description":"Include all pending transactions in 'balance' field","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":false}},{"name":"showAvailableBalance","in":"query","description":"Show available balance","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccountResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"put":{"tags":["Accounts"],"summary":"Edit an account","description":"Edit details of a particular account using its ID as a reference\nCurrently editable fields:\n  1. for accounts of all customer types, externalReference can be edited\n  2. for accounts of PCM_INDIVIDUAL & PCM_BUSINESS customer types, name can additionally be edited","operationId":"editAccount","parameters":[{"name":"accountId","in":"path","description":"ID of account to be edited","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccountResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{accountId}/secured-funding":{"put":{"tags":["Accounts"],"summary":"Set the secured funding limit for an account","operationId":"updateSecuredFundingLimit","parameters":[{"name":"accountId","in":"path","description":"ID of account to set the secured funding limit","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccountSecuredFundingRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/access-groups/{accessGroupId}/content":{"put":{"tags":["Access Group"],"summary":"Update access group","description":"The ability to update an access group's name and add or remove an account","operationId":"updateAccessGroup","parameters":[{"name":"accessGroupId","in":"path","description":"Access group ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccessGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccessGroupResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/customers/{customerId}/beneficiaries":{"post":{"tags":["Beneficiaries"],"summary":"Create a new beneficiary for a specified customer","description":"The ability to create a new beneficiary for a customer, using their customer ID as a reference.","operationId":"createBeneficiary","parameters":[{"name":"customerId","in":"path","description":"ID of customer to create beneficiary for","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.CreateBeneficiaryRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.BeneficiaryResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"delete":{"tags":["Beneficiaries"],"summary":"Delete beneficiaries for a specified customer","description":"deleting beneficiaries for a customer, using their customer ID","operationId":"deleteBeneficiaries","parameters":[{"name":"customerId","in":"path","description":"ID of customer to delete beneficiaries for","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"bid","in":"query","description":"ID(s) of beneficiaries to delete, must owned by customer and active","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successfully deleted single resource","content":{"application/json":{"schema":{"type":"object"}}}},"207":{"description":"Map of multiple responses for multi-request","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/customers/{customerId}/accounts":{"get":{"tags":["Accounts"],"summary":"Get accounts by customer","description":"Get details of accounts belonging to a particular customer using the customer’s ID as a reference","operationId":"getAccountsByCustomer","parameters":[{"name":"customerId","in":"path","description":"ID of customer to fetch accounts for","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"customerStatuses","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.customerStatuses"}},{"name":"statuses","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.statuses"}},{"name":"minBalance","in":"query","description":"Accounts with balance equal or more than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Accounts with balance equal or more than this amount","minimum":0}},{"name":"maxBalance","in":"query","description":"Accounts with balance equal or less than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Accounts with balance equal or less than this amount","minimum":0.01}},{"name":"fromCreatedDate","in":"query","description":"Accounts created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Accounts created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","example":"2017-01-28T01:01:01+0000"},"example":"2017-01-28T01:01:01+0000"},{"name":"toCreatedDate","in":"query","description":"Accounts created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Accounts created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","example":"2017-01-28T01:01:01+0000"},"example":"2017-01-28T01:01:01+0000"},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Page to fetch (0 indexed)"}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Size of Page to fetch","maximum":500}},{"name":"sortField","in":"query","description":"Sort by field","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort by field","pattern":"(id|name|balance|externalReference|createdDate)"}},{"name":"sortOrder","in":"query","description":"Sorting order","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sorting order","pattern":"(asc|desc)"}},{"name":"currency","in":"query","description":"The currency for getting account by currency. Expected ISO Standard currency name i.e. GBP, EUR etc","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"The currency for getting account by currency. Expected ISO Standard currency name i.e. GBP, EUR etc","enum":["GBP","EUR","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BOV","BRL","BSD","BTN","BWP","BYN","BZD","CAD","CDF","CHE","CHF","CHW","CLF","CLP","CNY","COP","COU","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MXV","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SLE","SLL","SOS","SRD","SSP","STN","SVC","SYP","SZL","SHP","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","USN","UYI","UYU","UYW","UZS","VES","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XOF","XPD","XPF","XPT","XSU","XTS","XUA","XXX","YER","ZAR","ZMW","ZWL"],"example":"GBP"},"example":"GBP"},{"name":"showAvailableBalance","in":"query","description":"Show available balance","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Show available balance"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccountPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"post":{"tags":["Accounts"],"summary":"Create account by customer","description":"Creates an account for a particular customer using the customer’s ID as a reference","operationId":"createAccount","parameters":[{"name":"customerId","in":"path","description":"ID of customer to create account for","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.CreateAccountRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccountResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{accountId}/unblock":{"post":{"tags":["Accounts"],"summary":"Unblock a specific account","description":"Using a unique reference (account ID) you can unblock an account","operationId":"unblockAccount","parameters":[{"name":"accountId","in":"path","description":"ID of account to unblock","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{accountId}/close":{"post":{"tags":["Accounts"],"summary":"Close an account","description":"Accounts with a zero balance can be closed. The account must have a status of ACTIVE or CLIENT_BLOCKED.","operationId":"closeAccount","parameters":[{"name":"accountId","in":"path","description":"ID of account to close","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{accountId}/block":{"post":{"tags":["Accounts"],"summary":"Block a specific account","description":"Using a unique reference (account ID) you can block an account","operationId":"blockAccount","parameters":[{"name":"accountId","in":"path","description":"ID of account to block","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/access-groups":{"get":{"tags":["Access Group"],"summary":"Get a list of access groups","description":"The ability to list all access groups for the customer","operationId":"getAccessGroups","parameters":[{"name":"ids","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","description":"ID of access group(s) to fetch","items":{"type":"string","example":"G0000001"},"uniqueItems":true}},{"name":"types","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","description":"Access group types","items":{"type":"string","description":"Access group type","enum":["SERVICE_PARTNER","SERVICE_CUSTOMER","DELEGATE","USER_DEFINED"]},"uniqueItems":true}},{"name":"statuses","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","description":"Access group statuses","items":{"type":"string","description":"Access group status","enum":["ACTIVE","DELETED"]},"uniqueItems":true}},{"name":"typeIds","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","description":"Ids of the entity implied by the type(s), e.g. the partner ID","items":{"type":"string","description":"Is of the entity implied by the type(s), e.g. the partner ID","example":"C0000001"},"uniqueItems":true}},{"name":"accountIds","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","description":"Account BIDs of access groups to fetch","items":{"type":"string","description":"Account BID of access groups to fetch","example":"A0000001"},"uniqueItems":true}},{"name":"accountIdSearchCriteria.matchMode","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ALL","ANY"]}},{"name":"accountIdSearchCriteria.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.AccessGroupResponse"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"post":{"tags":["Access Group"],"summary":"Create access group","description":"The ability to create a new access group","operationId":"createAccessGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccessGroupRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccessGroupResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/customers":{"get":{"tags":["Customers"],"summary":"Retrieve customers using filters","description":"Either using unique references, such as customer ID, or filter parameters, such as verification status, get details of any customers found.","operationId":"getCustomers","parameters":[{"name":"id","in":"query","description":"ID of Customer(s) to fetch","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.id"}},{"name":"delegateId","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.delegateId"}},{"name":"q","in":"query","description":"Query parameter. ID, name or external reference of customer to search for","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Query parameter. ID, name or external reference of customer to search for"}},{"name":"type","in":"query","description":"Type to filter, can be one of:\n1. LLC -> limited company\n2. PLC -> publicly listed company\n3. SOLETRADER -> sole trader\n4. OPARTNRSHP -> ordinary partnership\n5. LPARTNRSHP -> limited partnership\n6. LLP -> limited liability partnership\n7. INDIVIDUAL -> individual consumer\n8. PCM_INDIVIDUAL -> partner clearing model individual consumer\n9. PCM_BUSINESS -> partner clearing model business consumer","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Type to filter, can be one of:\n1. LLC -> limited company\n2. PLC -> publicly listed company\n3. SOLETRADER -> sole trader\n4. OPARTNRSHP -> ordinary partnership\n5. LPARTNRSHP -> limited partnership\n6. LLP -> limited liability partnership\n7. INDIVIDUAL -> individual consumer\n8. PCM_INDIVIDUAL -> partner clearing model individual consumer\n9. PCM_BUSINESS -> partner clearing model business consumer","enum":["LLC","PLC","SOLETRADER","OPARTNRSHP","LPARTNRSHP","LLP","INDIVIDUAL","PCM_INDIVIDUAL","PCM_BUSINESS","TRUST","PREQUALIFIED"]}},{"name":"verificationStatus","in":"query","description":"Verification Status to filter, can be one of:\n1. UNVERIFIED -> no verification checks have been completed\n2. VERIFIED -> verification checks completed satisfactorily\n3. EXVERIFIED -> verification completed externally\n4. REFERRED -> verification is pending manual review\n5. DECLINED -> verification is complete with a negative result\n6. REVIEWED -> verification check has been reviewed","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Verification Status to filter, can be one of:\n1. UNVERIFIED -> no verification checks have been completed\n2. VERIFIED -> verification checks completed satisfactorily\n3. EXVERIFIED -> verification completed externally\n4. REFERRED -> verification is pending manual review\n5. DECLINED -> verification is complete with a negative result\n6. REVIEWED -> verification check has been reviewed","enum":["UNVERIFIED","VERIFIED","EXVERIFIED","REFERRED","DECLINED","REVIEWED"]}},{"name":"fromCreatedDate","in":"query","description":"Customers created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Customers created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000"}},{"name":"toCreatedDate","in":"query","description":"Customers created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Customers created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000"}},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Page to fetch (0 indexed)","minimum":0}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Size of Page to fetch","exclusiveMinimum":0,"maximum":500}},{"name":"sortField","in":"query","description":"Sort by field. Sorted by createdDate if not present","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort by field. Sorted by createdDate if not present","pattern":"(name|createdDate|id)"}},{"name":"sortOrder","in":"query","description":"Sorting order:\n1. asc -> ascendant\n2. desc -> descendant","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sorting order:\n1. asc -> ascendant\n2. desc -> descendant","pattern":"(asc|desc)"}},{"name":"externalRef","in":"query","description":"A list of external references to filter","required":false,"deprecated":true,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.externalRef"}},{"name":"externalReference","in":"query","description":"A list of external references to filter","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.externalReference"},"example":"externalReference[0].type"},{"name":"name.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"name.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"companyRegNumber","in":"query","description":"Customer registration number","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Customer registration number"}},{"name":"legalEntity","in":"query","description":"Customer legal entity","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Customer legal entity","enum":["GB","NL","IE"]}},{"name":"contractCounterparty","in":"query","description":"The Modulr business unit with which the customer has contracted","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Business unit the customer contracts with","enum":["MFBV","MFSL","MUS"]}},{"name":"addressLines","in":"query","description":"Set of the address lines. If specified, they must be present in the address line 1 or in the address line 2.\nSearch results by number may include numbers with any suffix","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.addressLines"}},{"name":"postCode","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"postTown","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"country","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"associateSearchCriteria.firstNameInitial","in":"query","description":"Person's first name initial","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Person's first name initial","maxLength":1,"minLength":1}},{"name":"associateSearchCriteria.lastName.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"associateSearchCriteria.lastName.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"associateSearchCriteria.lastNamePrefix","in":"query","description":"Person's prefix","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Person's prefix"}},{"name":"associateSearchCriteria.dateOfBirth","in":"query","description":"Person's date of birth ","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date","description":"Person's date of birth "}},{"name":"associateSearchCriteria.additionalIdentifier.type","in":"query","description":"Type of additional personal identifier","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Type of additional personal identifier","enum":["BSN"]}},{"name":"associateSearchCriteria.additionalIdentifier.value","in":"query","description":"Personal identifier value","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Personal identifier value","minLength":1}},{"name":"associateTypes","in":"query","description":"List of types to filter, can be one of:\n1. DIRECTOR -> director\n2. PARTNER -> partner\n3. CSECRETARY -> company secretary\n4. SOLETRADER -> sole trader\n5. BENE_OWNER -> beneficial owner\n6. C_INTEREST -> controlling interest\n7. INDIVIDUAL -> individual\n8. PCM_INDIVIDUAL -> pcm individual\n9. SIGNATORY -> signatory\n9. TRUST_SETTLOR -> trust settlor\n9. TRUST_BENEFICIARY -> trust beneficiary\n10. TRUST_TRUSTEE -> trust trustee","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.associateTypes"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.CustomerPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"post":{"tags":["Customers"],"summary":"Create a new customer","description":"This endpoint allows you to create a new customer. Creating a customer is a complex process with several dependencies, e.g: Directors, type of customer, legal specifications. For further information, please visit 'Creating a customer and account' entry on our API documentation","operationId":"createCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/onboarding.CreateCustomerRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/onboarding.Customer"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/onboarding.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/beneficiaries":{"get":{"tags":["Beneficiaries"],"summary":"Retrieve beneficiaries","description":"The ability to get the details of beneficiaries using various pieces of information, e.g. using customer ID, retrieve all beneficiaries created by that customer. Can get details of one particular beneficiary based on the unique beneficiary reference number.","operationId":"getBeneficiaries","parameters":[{"name":"id","in":"query","description":"Id of Beneficiary(s) to fetch","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.id"}},{"name":"customerId","in":"query","description":"Filter by Customer Id","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter by Customer Id"}},{"name":"q","in":"query","description":"Partial name of beneficiary or Scan Details Or IBAN Or external referenceOr default reference to search for. Deprecated use validForAccount, orSortCode, orAccountNumber, orIban, orName, orExternalReference, orDefaultReference instead","required":false,"deprecated":true,"style":"form","explode":true,"schema":{"type":"string","description":"Partial name of beneficiary or Scan Details Or IBAN Or external referenceOr default reference to search for. Deprecated use validForAccount, orSortCode, orAccountNumber, orIban, orName, orExternalReference, orDefaultReference instead"}},{"name":"modifiedSince","in":"query","description":"Beneficiaries modified after this date time","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Beneficiaries modified after this date time"}},{"name":"hasExternalReference","in":"query","description":"Filter by existence of external reference","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Filter by existence of external reference"}},{"name":"externalReference","in":"query","description":"External reference for beneficiary","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"External reference for beneficiary"}},{"name":"iban","in":"query","description":"IBAN","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"IBAN"}},{"name":"abaRoutingNumber","in":"query","description":"abaRoutingNumber","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"abaRoutingNumber"}},{"name":"currency","in":"query","description":"Currency","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Currency","enum":["GBP","EUR","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BOV","BRL","BSD","BTN","BWP","BYN","BZD","CAD","CDF","CHE","CHF","CHW","CLF","CLP","CNY","COP","COU","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MXV","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SLE","SLL","SOS","SRD","SSP","STN","SVC","SYP","SZL","SHP","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","USN","UYI","UYU","UYW","UZS","VES","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XOF","XPD","XPF","XPT","XSU","XTS","XUA","XXX","YER","ZAR","ZMW","ZWL"]}},{"name":"qualifier","in":"query","description":"A list of external qualifiers","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.qualifier"}},{"name":"state","in":"query","description":"Approval item state(s) to filter by","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.state"}},{"name":"validForAccount","in":"query","description":"Source account BID. Limit results to beneficiaries which would be valid recipients of payments from the given account (e.g. IBAN can’t be paid from GBP account, SCAN can’t be paid from non-GBP account). The specified account must be accessible to the user","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Source account BID. Limit results to beneficiaries which would be valid recipients of payments from the given account (e.g. IBAN can’t be paid from GBP account, SCAN can’t be paid from non-GBP account). The specified account must be accessible to the user","example":"A000000001"},"example":"A000000001"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort order","pattern":"(ASC|DESC)"}},{"name":"sortField","in":"query","description":"Sort by field, This defaults to name if not present","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort by field, This defaults to name if not present","pattern":"(name|createdDate)"}},{"name":"orSortCode.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orSortCode.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"orAccountNumber.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orAccountNumber.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"orIban.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orIban.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"orAbaRoutingNumber.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orAbaRoutingNumber.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"orName.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orName.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"orExternalReference.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orExternalReference.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"orDefaultReference.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"orDefaultReference.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"createdDate","in":"query","description":"Created date","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date","description":"Created date"}},{"name":"partialName","in":"query","description":"Partial name","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Partial name"}},{"name":"sortCode","in":"query","description":"Sort code","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort code"}},{"name":"accountNumber","in":"query","description":"Account number","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Account number"}},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Page to fetch (0 indexed)"}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Size of Page to fetch","maximum":500}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.BeneficiaryPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/beneficiaries/{beneficiaryId}/locks":{"get":{"tags":["Beneficiaries"],"summary":"Retrieve locked beneficiary entities","description":"Fetch references of the entities (payment, rule) that have caused the beneficiary to be locked","operationId":"getLocks","parameters":[{"name":"beneficiaryId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Page to fetch (0 indexed)","minimum":0}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Size of Page to fetch","maximum":500,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.BeneficiaryLockPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts":{"get":{"tags":["Accounts"],"summary":"Get accounts using filter","description":"Gives the ability to find accounts and get their details using filters","operationId":"getAccounts","parameters":[{"name":"id","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.id"}},{"name":"q","in":"query","description":"ID or name of the account to search for","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"ID or name of the account to search for"}},{"name":"identifierType","in":"query","description":"Accounts that contain this identifier type","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Accounts that contain this identifier type","enum":["SCAN","IBAN","DD","INTL"],"example":"SCAN"},"example":"SCAN"},{"name":"name.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"name.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"externalReference.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"externalReference.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"customerId","in":"query","description":"The customer ID for getting account by customer ID","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.customerId"},"example":"C1234567"},{"name":"accountNumber.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"accountNumber.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"iban.type","in":"query","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"WORD_MATCH - using word boundaries,\nWORD_MATCH_ALPHANUMERIC - using word boundaries, but replaces non-alphanumeric characters in the search with a word boundary match,\nPREFIX - same case prefix,\nSUFFIX - same case suffix,\nCONTAINS - same case contains\nEXACT - same case exact\n","enum":["WORD_MATCH","WORD_MATCH_ALPHANUMERIC","PREFIX","SUFFIX","CONTAINS","EXACT"]}},{"name":"iban.value","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","minLength":1}},{"name":"statuses","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/account.statuses"}},{"name":"minBalance","in":"query","description":"Accounts with balance equal or more than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Accounts with balance equal or more than this amount","minimum":0}},{"name":"maxBalance","in":"query","description":"Accounts with balance equal or less than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Accounts with balance equal or less than this amount","minimum":0.01}},{"name":"fromCreatedDate","in":"query","description":"Accounts created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Accounts created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","example":"2017-01-28T01:01:01+0000"},"example":"2017-01-28T01:01:01+0000"},{"name":"toCreatedDate","in":"query","description":"Accounts created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Accounts created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","example":"2017-01-28T01:01:01+0000"},"example":"2017-01-28T01:01:01+0000"},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Page to fetch (0 indexed)"}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Size of Page to fetch","maximum":500}},{"name":"sortField","in":"query","description":"Sort by field","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort by field","pattern":"(id|name|balance|externalReference|createdDate)"}},{"name":"sortOrder","in":"query","description":"Sorting order","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sorting order","pattern":"(asc|desc)"}},{"name":"currency","in":"query","description":"The currency for getting account by currency. Expected ISO Standard currency name i.e. GBP, EUR etc","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"The currency for getting account by currency. Expected ISO Standard currency name i.e. GBP, EUR etc","enum":["GBP","EUR","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BOV","BRL","BSD","BTN","BWP","BYN","BZD","CAD","CDF","CHE","CHF","CHW","CLF","CLP","CNY","COP","COU","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MXV","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SLE","SLL","SOS","SRD","SSP","STN","SVC","SYP","SZL","SHP","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","USN","UYI","UYU","UYW","UZS","VES","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XOF","XPD","XPF","XPT","XSU","XTS","XUA","XXX","YER","ZAR","ZMW","ZWL"],"example":"GBP"},"example":"GBP"},{"name":"showAvailableBalance","in":"query","description":"Show available balance","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Show available balance"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccountPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{accountId}/transactions":{"get":{"tags":["Transactions"],"summary":"Get transactions for a specific Account","description":"Retrieves the last 6 months of transactions (successful payments in & out) of an account, specified by a unique account reference.","operationId":"getTransactionsByAccount","parameters":[{"name":"accountId","in":"path","description":"ID of account to fetch transactions for","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Partial description text to search for","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Partial description text to search for"}},{"name":"minAmount","in":"query","description":"Transactions with amount equal or more than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Transactions with amount equal or more than this amount","minimum":0}},{"name":"maxAmount","in":"query","description":"Transactions with amount equal or less than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Transactions with amount equal or less than this amount","minimum":0.01}},{"name":"fromPostedDate","in":"query","description":"Transactions with posted date equal or after to this date","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Transactions with posted date equal or after to this date"}},{"name":"toPostedDate","in":"query","description":"Transactions with posted date equal or before to this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Transactions with posted date equal or before to this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000"}},{"name":"type","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","description":"Transaction types","items":{"type":"string","description":"Transaction type","enum":["PI_BACS","PI_BACS_CONTRA","PI_FAST","PI_CHAPS","PI_DD","PI_SECT","PI_SEPA_INST","PI_REV","PI_FAST_REV","PO_FAST","PO_CHAPS","PO_DD","PO_SECT","PO_SEPA_INST","PO_REV","INT_INTERC","INT_INTRAC","ADHOC","FE_TXN","FE_ACMNT","FE_ACOPN","FE_REV","PO_MASTER","PI_MASTER","PO_REV_MASTER","PO_VISA","PI_VISA","PI_SWIFT","PO_SWIFT","PI_DD_PEND","PO_DD_PEND","DDIC_RETURN","ARUDD_RETURN","PO_FX","PI_FX","PI_FXFEE"]}}},{"name":"credit","in":"query","description":"If true only credit transactions will be returned, if false, only debit transactions will be returned","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"If true only credit transactions will be returned, if false, only debit transactions will be returned"}},{"name":"sourceId","in":"query","description":"Transactions with this sourceId","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Transactions with this sourceId"}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Size of Page to fetch","maximum":500}},{"name":"showAvailableBalance","in":"query","description":"Show available balance","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Show available balance"}},{"name":"fromTransactionDate","in":"query","description":"Transactions with transaction date equal or after to this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Transactions with transaction date equal or after to this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000"}},{"name":"toTransactionDate","in":"query","description":"Transactions with transaction date equal or before to this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Transactions with transaction date equal or before to this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000"}},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"Page to fetch (0 indexed)"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.TransactionPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/access-groups/{accessGroupId}":{"get":{"tags":["Access Group"],"summary":"Get access group","description":"The ability to retrieve an access group by ID","operationId":"getAccessGroup","parameters":[{"name":"accessGroupId","in":"path","description":"Access group ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account.AccessGroupWithDetailsResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/account.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/payments":{"get":{"tags":["Payments"],"summary":"Retrieve payments","description":"The ability to get the details of payments using various pieces of information, e.g. using Account ID, retrieve all payments in that account. Can get details of one particular payment based on the unique payment reference number.","operationId":"getPayments","parameters":[{"name":"id","in":"query","description":"Payment ID. If specified then all other parameters are ignored. Use ids to search for multiple payment IDs","required":false,"deprecated":true,"style":"form","explode":true,"schema":{"type":"string","deprecated":true,"description":"Payment ID. If specified then all other parameters are ignored. Use ids to search for multiple payment IDs"}},{"name":"ids","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.ids"}},{"name":"fromCreatedDate","in":"query","description":"Payments created date equal or after to this date. Mandatory Parameter(except when 'id', 'ids', 'fxQuoteId' or 'modifiedSince' parameter is used)","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Payments created date equal or after to this date. Mandatory Parameter(except when 'id', 'ids', 'fxQuoteId' or 'modifiedSince' parameter is used)","example":"2016-01-01T01:01:01+0000"},"example":"2016-01-01T01:01:01+0000"},{"name":"toCreatedDate","in":"query","description":"Payments created date equal or before to this date","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Payments created date equal or before to this date"}},{"name":"modifiedSince","in":"query","description":"Payments modified date equal or before to this date","required":false,"deprecated":true,"style":"form","explode":true,"schema":{"type":"string","description":"Payments modified date equal or before to this date"}},{"name":"fromUpdatedDate","in":"query","description":"Payments updated date equal or after to this date.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Payments updated date equal or after to this date.","example":"2016-01-01T01:01:01+0000"},"example":"2016-01-01T01:01:01+0000"},{"name":"toUpdatedDate","in":"query","description":"Payments updated date equal or before to this date.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Payments updated date equal or before to this date.","example":"2016-01-01T01:01:01+0000"},"example":"2016-01-01T01:01:01+0000"},{"name":"sourceAccountId","in":"query","description":"The source account ID","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"The source account ID"}},{"name":"hasExternalReference","in":"query","description":"True if the API should return all items that have externalReference. False the API should return all items that don't have externalReference","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"True if the API should return all items that have externalReference. False the API should return all items that don't have externalReference"}},{"name":"externalReference","in":"query","description":"External reference can only have alphanumeric characters plus underscore, hyphen and space","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"External reference can only have alphanumeric characters plus underscore, hyphen and space","pattern":"[\\w-\\s]*"}},{"name":"status","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.status"}},{"name":"type","in":"query","description":"The payment type to search for.","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"PAYOUT","description":"The payment type to search for.","enum":["PAYIN","PAYOUT","RETURN"]}},{"name":"excludeBatchPayments","in":"query","description":"Exclude payments which are part of a batch with submission type BATCH","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":false,"description":"Exclude payments which are part of a batch with submission type BATCH"}},{"name":"batchPaymentId","in":"query","description":"Filter on batch","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter on batch"}},{"name":"reversals","in":"query","description":"Filter on reversals","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Filter on reversals"}},{"name":"schemeId","in":"query","description":"Filter on scheme ID","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter on scheme ID"}},{"name":"approvalStatus","in":"query","description":"Payment approval status, multiple statuses can be specified by repeating the parameter","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.approvalStatus"}},{"name":"currency","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.currency"}},{"name":"minAmount","in":"query","description":"Payments amount equal or greater than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Payments amount equal or greater than this amount","example":5.5,"exclusiveMinimum":0},"example":5.5},{"name":"maxAmount","in":"query","description":"Payments amount equal or less than this amount","required":false,"style":"form","explode":true,"schema":{"type":"number","description":"Payments amount equal or less than this amount","example":50.5,"exclusiveMinimum":0},"example":50.5},{"name":"fromPaymentScheduledDate","in":"query","description":"Payments scheduled date equal or after to this date","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time","description":"Payments scheduled date equal or after to this date","example":"2022-01-01T01:01:01+0000"},"example":"2022-01-01T01:01:01+0000"},{"name":"toPaymentScheduledDate","in":"query","description":"Payments scheduled date equal or before to this date and in absence of fromPaymentDate, payments executed prior to 180 days from this date","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time","description":"Payments scheduled date equal or before to this date and in absence of fromPaymentDate, payments executed prior to 180 days from this date","example":"2023-01-01T01:01:01+0000"},"example":"2023-01-01T01:01:01+0000"},{"name":"customerId","in":"query","description":"Filter on customer ID","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.customerId"},"example":"C1234567"},{"name":"currentUserCanApprove","in":"query","description":"Only return payments the current user can approve.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Only return payments the current user can approve.","example":true},"example":true},{"name":"sortField","in":"query","description":"Sort by field. Sorted by createdDate if not present","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort by field. Sorted by createdDate if not present","pattern":"(amount|createdDate|paymentScheduledDate)"}},{"name":"sortOrder","in":"query","description":"Sorting order:\n1. asc -> ascending\n2. desc -> descending","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sorting order:\n1. asc -> ascending\n2. desc -> descending","pattern":"(asc|desc)"}},{"name":"page","in":"query","description":"The page to fetch. 0 indexed","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","default":0,"description":"The page to fetch. 0 indexed","minimum":0}},{"name":"size","in":"query","description":"The size of the page(s)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","description":"The size of the page(s)","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.PaymentPageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/payment.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"post":{"tags":["Payments"],"summary":"Create a payment","description":"Supports both Payments to external bank accounts via Faster Payments and transfers to other Modulr accounts. Requests to Payments are asynchronous.","operationId":"sendPayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.PaymentOutRequest"}}},"required":true},"responses":{"201":{"description":"PaymentReference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.PaymentResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/payment.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/batchpayments":{"get":{"tags":["Payments"],"summary":"Get batch payments by a given set of parameters","description":"This endpoint allows for a user who has submitted multiple batch to use some criteria to get the batch payments.","operationId":"getBatchPayments","parameters":[{"name":"id","in":"query","description":"List of batch payment IDs","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.id"}},{"name":"externalReference","in":"query","description":"Batch payments External Reference contains this text.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Batch payments External Reference contains this text.","example":"aReference_00001","maxLength":50,"minLength":0,"pattern":"[\\w-\\s]*"},"example":"aReference_00001"},{"name":"fromCreatedDate","in":"query","description":"Batch payments created date equal or after to this date.","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date","description":"Batch payments created date equal or after to this date.","example":"2022-05-16"},"example":"2022-05-16"},{"name":"toCreatedDate","in":"query","description":"Batch payments created date equal or before this date.","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date","description":"Batch payments created date equal or before this date.","example":"2026-06-08"},"example":"2026-06-08"},{"name":"batchPaymentStatuses","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.batchPaymentStatuses"}},{"name":"paymentStatuses","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.paymentStatuses"}},{"name":"approvalStatus","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/payment.approvalStatus"}},{"name":"currentUserCanApprove","in":"query","description":"Only return batch payments the current user can approve.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Only return batch payments the current user can approve.","example":true},"example":true},{"name":"createdByCustomerId","in":"query","description":"Limit results by the customer which created the batch payment request","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Limit results by the customer which created the batch payment request"}},{"name":"submissionType","in":"query","description":"Limit results to batches with submission type specified","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Limit results to batches with submission type specified","enum":["BATCH","BULK"]}},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","default":0,"description":"Page to fetch (0 indexed)"}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","default":20,"description":"Size of Page to fetch","maximum":500}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.BatchPaymentsResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/payment.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"post":{"tags":["Payments"],"summary":"Make a batch payment","description":"As well as supporting individual payment requests, the Modulr payment platform can also handle multiple payment objects in the same request. This endpoint allows you to make a new batch payment.","operationId":"submitBatchPayments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.BatchPaymentOutRequest"}}},"required":true},"responses":{"201":{"description":"BatchPaymentReference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.BatchPaymentDetailsResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/payment.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/batchpayments/{batchPaymentId}/cancel":{"post":{"tags":["Payments"],"summary":"Cancel the batch payment","description":"Cancels a batch payment request if it is not already processed","operationId":"cancelBatchPayments","parameters":[{"name":"batchPaymentId","in":"path","description":"Batch payment request id","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/payment.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/batchpayments/{id}":{"get":{"tags":["Payments"],"summary":"Get batch payment by ID","description":"Get the details of an existing batch payment by ID","operationId":"getBatchPayment","parameters":[{"name":"id","in":"path","description":"id given when batch request was made","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/payment.BatchPaymentDetailsResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/payment.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/rules/{ruleId}":{"put":{"tags":["Rules"],"summary":"Edit a specific Rule","description":"The ability to modify the details of a specific rule based on the rule's unique reference.","operationId":"modifyRule","parameters":[{"name":"ruleId","in":"path","description":"Id of Rule to be edited","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/rule.CreateRuleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rule.RuleResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/rule.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/rules":{"post":{"tags":["Rules"],"summary":"Create a Rule","description":"When you want a new rule on an account you can create one with this endpoint. Note that Rules are linked to an Account and each Account can only have one instance of a Rule type","operationId":"createRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/rule.CreateRuleRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rule.RuleResponse"}}}},"400":{"description":"Validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/rule.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"delete":{"tags":["Rules"],"summary":"Delete a Rule","description":"When you no longer want a rule on an account you can do it with this endpoint. You can delete more than one rule in the same request.","operationId":"removeRules","parameters":[{"name":"rIds","in":"query","description":"Id(s) of Rules to delete","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successfully deleted single resource","content":{"application/json":{"schema":{"type":"object"}}}},"207":{"description":"Map of multiple responses for multi-request","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/rule.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{id}/rules":{"get":{"tags":["Rules"],"summary":"Get all Rules for a specific Account","description":"The ability to get the details of all rules associated with the specified account using the Account ID as a reference. Can filter by a specific type using the type parameter.","operationId":"getRules","parameters":[{"name":"id","in":"path","description":"Account ID of the rules","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page to fetch (0 indexed)","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Size of Page to fetch","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"rtype","in":"query","description":"Filter to a specific RuleType","required":false,"style":"form","explode":true,"schema":{"type":"string","default":""},"example":"SPLIT, SWEEP, FUNDING"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rule.RulePageResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/rule.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/accounts/{id}/rules/{rtype}":{"get":{"tags":["Rules"],"summary":"Retrieve a Rule by rule type on a specific account","description":"You need to know the unique reference of the account and the rule type you want to get to information on.","operationId":"getRule","parameters":[{"name":"id","in":"path","description":"Account ID of the rule","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"rtype","in":"path","description":"The type of Rule.","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"SPLIT, SWEEP, FUNDING"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rule.RuleResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/rule.MessageResponse"}}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/partners/{partnerId}/notifications/{notificationId}":{"get":{"tags":["Notification"],"summary":"Retrieve a specific notification by unique reference for a specific partner","description":"This allows you to see the settings for a particular notification that has been set up, for example if you want to check if it is active or the emails the notification is being sent to. It would be best practice to call this before updating a notification.","operationId":"getPartnerNotification","parameters":[{"name":"partnerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"notificationId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notification.NotificationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/notification.MessageResponse"}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notification.NotificationResponse"}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]},"put":{"tags":["Notification"],"summary":"Update a specific notification by unique reference for a specific partner","description":"If you need to change anything about a particular notification, for example add an email address or make it inactive, then this is the endpoint to use. You need to put all of the information into this request for the notification even if it isn't changing, so either you will need to record this somewhere when you create the notification, or call the 'GET' request first.","operationId":"editPartnerNotification","parameters":[{"name":"partnerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"notificationId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/notification.UpdateNotificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notification.NotificationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/notification.MessageResponse"}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notification.NotificationResponse"}}}}},"security":[{"HMAC":[]},{"TOKEN":[]}]}},"/customers/{customerId}/notifications/{notificationId}":{"get":{"tags":["Notification"],"summary":"Retrieve a specific notification by unique reference for a specific customer","description":"This allows you to see the settings for a particular notification that has been set up, for example if you want to check if it is active or the emails the notification is being sent to. It would be best practice t
[...]
